<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
  </head>
  <body>
      <div class="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/log-out">Logout</a></li>
          <li><a href="/account">Manage Account</a></li>
        </ul>
        </div>
    <h1>Account Management</h1>

<div class="float-container">
      <div class="float-child">
        <a href="/bookings">Your Bookings</a><br>
      </div>

    <div class="float-child">
      <% @requests.each do |request| %>
      <%= request.title %>
      <%= request.description %>
      $<%= request.daily_rate %> per day

      <form action="/approve-reject/<%= request.id %>&<%= true %>" method="post">
        <label>Approve</label>
        <input type="submit" name="approve" value="Approve">
      </form>
       <form action="/approve-reject/<%= request.id %>&<%= false %>" method="post">
        <label>Reject</label>
        <input type="submit" name="reject" value="Reject">
      </form>
      <% end %>
    </div>
  </div>
  </body>
</html>