<html>
  <head>Your Bookings</head>
  <body>
    <h1>Your Bookings</h1>
    <div>
    <% @trips.each do |trip|%>
      <p>
      Your trip to <%= trip.title %> starts on <%= trip.start_date %> and ends on <%= trip.end_date %> 
      </p>
      <p>
      Here's the the description of <%= trip.title %>:
      </p>
      <p>
        <%= trip.description %>
      </p>
    <% end %>
    </div>

  </body>
</html>