<html>
  <head>Book a space</head>
  <body>
    <h1>Book a space</h1>
    <p>
      <%= @property.title %>
    </p>
    <p>
      <%= @property.description %>
    </p>
      <p>
      <%= @property.daily_rate %>
    </p>
      <p>
      <%= @property.first_available %>
    </p>
      <p>
      <%= @property.last_available %>
    </p>

<form method="POST" action="/your-bookings"> <!-- unsure where to post info to -->
      <div>
        <label>When would you like to book from</label>
        <input type="date" name="start_date" />
      </div>
      <div>
        <label>When would you like to book to</label>
        <input type="date" name="end_date" />
      </div>
        <input type="submit" />      
  </body>
</form>
</html>